<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="{{'ADD_NEW' | translate}}" icon="pi pi-user-plus"
                        class="p-button-success p-mr-2 p-mb-2" (click)="add()"></button>

                </ng-template>
            </p-toolbar>

            <p-table #incomes [value]="items" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20]"
                [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [loading]="loading"
                styleClass="p-datatable-sm" (onPage)="onPageChange($event)" [rowHover]="true" dataKey="id"
                сurrentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">{{ 'INVENTORY_INCOME' | translate }}</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ 'ID' | translate }}
                        </th>
                        <th>{{ 'INCOME_DATE' | translate }}
                        </th>
                        <th>{{ 'TOTAL_COST' | translate }}
                        </th>
                        <th>{{ 'WHO_INCAME' | translate }}
                        </th>
                        <th>{{ 'DESCRIPTION' | translate }}
                        </th>
                        <th>{{ 'ACTIONS' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.createdDate | localizedDate:'dd.MM.yyyy'}}
                        </td>
                        <td style="font-weight: 700; text-align: left;">
                            {{item.totalCost | number}} {{'UZS'|translate}}
                        </td>
                        <td>
                            {{item.who}}
                        </td>
                        <td>
                            {{item.description}}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-th-large"
                                class="p-button-rounded p-button-success p-mr-2" (click)="viewDetails(item)" pTooltip="Детали"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <app-inventory-income-form [isOpen]="viewDialog" [incomeItem]="viewItem" (closed)="onViewClose()">
        </app-inventory-income-form>
        <app-add-inventory-income [isOpen]="addDialog" [model]="editItem" (saved)="onSaved($event)"
            (closed)="onAddClosed()">
        </app-add-inventory-income>
        <p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>
    </div>
</div>