<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="{{'ADD_NEW' | translate}}" icon="pi pi-user-plus"
                        class="p-button-success p-mr-2 p-mb-2" (click)="add()">111</button>
                </ng-template>
            </p-toolbar>

            <p-table #dtPatients [value]="items" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20]"
                [lazy]="true" (onLazyLoad)="loadItems($event)" [totalRecords]="totalRecords" [loading]="loading"
                styleClass="p-datatable-sm" (onPage)="onPageChange($event)" [(selection)]="selectedItems"
                [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">{{ 'MANAGE_PATIENTS' | translate }}</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onSearch($event.target.value)"
                                placeholder="{{'SEARCH' | translate}}" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ 'FULL_NAME' | translate }}
                        </th>
                        <th>{{ 'BIRTH_DATE' | translate }}
                        </th>
                        <th>{{ 'PHONE_NUMBER' | translate }}
                        </th>
                        <th>{{ 'EMAIL' | translate }}
                        </th>
                        <th>{{ 'ADDRESS' | translate }}
                        </th>
                        <th>{{ 'ACTIONS' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.fullName}}
                        </td>
                        <td>
                            {{ item.birthDate | localizedDate:'dd.MM.yyyy' }}
                        </td>
                        <td>
                            {{item.phoneNumber}}
                        </td>
                        <td>
                            {{item.email}}
                        </td>
                        <td>
                            {{item.address}}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2" pTooltip="{{'VIEW'|translate}}"
                                (click)="viewHistory(item)"></button>
                            <button pButton pRipple icon="pi pi-user-edit" pTooltip="{{'EDIT'|translate}}"
                                class="p-button-rounded p-button-success p-mr-2" (click)="edit(item)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <app-patient-edit-form [isOpen]="editDialog" [model]="editItem" (saved)="onSaved($event)" (closed)="onClosed()"></app-patient-edit-form>
        <app-patient-view [isOpen]="viewDialog" [model]="patientViewModel" (closed)="onViewClosed()"></app-patient-view>
        <p-confirmDialog [style]="{width: '700px'}"></p-confirmDialog>
    </div>
</div>

<!-- september1 ERROR +++++++ lekin oyna ochilyapti-->