<p-dialog [(visible)]="isOpen" [style]="{width: '800px'}" header="{{ 'VIEW' | translate }}" [modal]="true"
    styleClass="p-fluid" (onHide)="close()">
    <ng-template pTemplate="content">
        <div class="card">
            <div class="p-formgrid p-grid">
                <div class="p-field p-col-6">
                    <label for="birthDate">{{ 'OUTCOME_DATE' | translate }} : {{ outcome.createdDate |
                        localizedDate:'dd.MM.yyyy'}} </label>
                </div>
                <div class="p-field p-col-6">
                    <label for="birthDate">{{ 'DESCRIPTION' | translate }} : {{ outcome.description }} </label>
                </div>
            </div>
            <p-table #outcomeInventories [value]="inventories" styleClass="p-datatable-sm">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">{{ 'INVENTORY_OUTCOME_ITEMS' | translate }}</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ 'INVENTORY_NAME' | translate }}
                        </th>
                        <th>{{ 'QUANTITY' | translate }}
                        </th>
                        <th>{{ 'PRICE' | translate }}
                        </th>
                        <th>{{ 'TOTAL_PRICE' | translate }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.inventory.name}}
                        </td>
                        <td>
                            {{item.quantity}} {{item.measurementUnit.code}}
                        </td>
                        <td>
                            {{item.inventory.currentPrice}}
                        <td>
                            {{item.inventory.currentPrice * item.quantity}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'CLOSE'|translate}}" icon="pi pi-times" class="p-button-text" (click)="close()"></button>
    </ng-template>
</p-dialog>