<p-dialog [(visible)]="isOpen" [style]="{width: '600px'}" header="{{ 'EDIT' | translate }}" [modal]="true"
    styleClass="p-fluid" (onHide)="close()">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="lastName">{{ 'DOCTOR' | translate }}</label>
            <input type="text" pInputText [(ngModel)]="appointment.doctorFullName" disabled />
        </div>
        <div class="p-field">
            <label for="appointmentDate">{{ 'PATIENT' | translate }}, {{'PHONE_NUMBER'|translate}}:
                {{appointment.patientPhoneNumber}}</label>
            <input type="text" pInputText [(ngModel)]="appointment.patientFullName" disabled />
        </div>
        <div class="p-field">
            <label for="appointmentDate">{{ 'APPOINTMENT_DATE' | translate }}</label>
            <p-calendar [(ngModel)]="appointment.appointmentDate" dateFormat="dd.mm.yy" [monthNavigator]="true"
                [yearNavigator]="true" yearRange="1930:2030" (onSelect)="onAppointmentDateChange($event)" required>
            </p-calendar>
            <small class="p-invalid" *ngIf="submitted && !editForm.valid">{{ 'APPOINTMENT_DATE_IS_REQUIRED'
                | translate }}</small>
        </div>
        <div class="p-field">
            <label for="lastName">{{ 'APPOINTMENT_TIME' | translate }}</label>
            <p-dropdown [options]="scheduleEvents" placeholder="{{'SELECT_APPOINTMENT_TIME'|translate}}" [(ngModel)]="selectedEvent" optionLabel="startingText"
                optionDisabled="isBusy" (onChange)="onAppointmentTimeChange($event.value)">
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="dentalChair">{{ 'DENTAL_CHAIR' | translate }}</label>
            <p-dropdown [options]="dentalChairs" [(ngModel)]="selectedChair" optionLabel="name"
                placeholder="{{'SELECT_DENTAL_CHAIR'|translate}}" optionDisabled="isBusy">
                <ng-template pTemplate="selectedChair">
                    <div *ngIf="selectedChair">
                        <div>{{selectedChair.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-chair pTemplate="item">
                    <div>
                        <div>{{chair.name}} - {{chair.description}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="selectedPartner">{{ 'PARTNER' | translate }}</label>
            <p-dropdown [options]="partners" [(ngModel)]="selectedPartner" placeholder="{{'SELECT_PARTNER'|translate}}"
                optionLabel="name">
            </p-dropdown>
        </div>
        <div class="p-field">
            <button pButton label="{{'CANCEL_APPOINTMENT' | translate}}" class="p-button p-mr-2 p-mb-2"
                (click)="cancelAppointment()"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'CLOSE'|translate}}" icon="pi pi-times" class="p-button-text"
            (click)="close()"></button>
        <button pButton pRipple label="{{'SAVE'|translate}}" icon="pi pi-check" class="p-button-text"
            (click)="save()"></button>
    </ng-template>
</p-dialog>