<p-dialog [(visible)]="isOpen" [style]="{width: '500px'}" header="{{ 'ADD' | translate }}" [modal]="true"
    styleClass="p-fluid" (onHide)="close()">
    <ng-template pTemplate="content">
        <form [formGroup]="editForm">
            <div class="p-field">
                <label for="password">{{ 'PASSWORD' | translate }}</label>
                <input type="password" pPassword id="password" formControlName="password" [feedback]="false"
                    placeholder="{{'PASSWORD'|translate}}" required />
                <small class="p-error block"
                    *ngIf="editForm.get('password').invalid && (editForm.get('password').dirty || editForm.get('password').touched)">{{'PASSWORD_IS_REQUIRED'
                    | translate}}</small>
            </div>
            <div class="p-field">
                <label for="confirmPassword">{{ 'CONFIRM_PASSWORD' | translate }}</label>
                <input type="password" pPassword id="confirmPassword" formControlName="confirmPassword"
                    placeholder="{{'CONFIRM_PASSWORD'|translate}}" [feedback]="false" required />
                <small class="p-error block"
                    *ngIf="editForm.get('confirmPassword').invalid && (editForm.get('confirmPassword').dirty || editForm.get('password').touched)">{{
                    'CONFIRM_PASSWORD_IS_REQUIRED' |
                    translate }}</small>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'CANCEL'|translate}}" icon="pi pi-times" class="p-button-text"
            (click)="close()"></button>
        <button pButton pRipple label="{{'SAVE'|translate}}" icon="pi pi-check" class="p-button-text"
            [disabled]="!editForm.valid" (click)="save()"></button>
    </ng-template>
</p-dialog>