<div class="p-grid">
	<div class="p-col-12">
		<p-toast></p-toast>
		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple label="{{'ADD_NEW' | translate}}" icon="pi pi-user-plus"
						class="p-button-success p-mr-2 p-mb-2" (click)="add()"></button>
					<button pButton pRipple label="{{'DELETE_SELECTED' | translate}}" icon="pi pi-trash"
						class="p-button-danger p-mb-2" (click)="deleteSelected()"
						[disabled]="!selectedItems || !selectedItems.length"></button>
				</ng-template>
			</p-toolbar>

			<p-table #dtCountries [value]="items" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20]"
				[lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [loading]="loading"
				styleClass="p-datatable-sm" (onPage)="onPageChange($event)" [(selection)]="selectedItems"
				[rowHover]="true" dataKey="id"
				сurrentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
				[showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						<h5 class="p-m-0">{{ 'COUNTRIES' | translate }}</h5>
						<!-- <span class="p-input-icon-left">
							<i class="pi pi-search"></i>
							<input pInputText type="text"
								(input)="dtCountries.filterGlobal($event.target.value, 'contains')"
								placeholder="{{'SEARCH' | translate}}" />
						</span> -->
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
							<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
						</th>
						<th pSortableColumn="name">{{ 'NAME' | translate }} <p-sortIcon field="name">
							</p-sortIcon>
						</th>
						<th pSortableColumn="code">{{ 'CODE' | translate }} <p-sortIcon field="code">
							</p-sortIcon>
						</th>
						<th>{{ 'ACTIONS' | translate }}</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-item>
					<tr>
						<td>
							<p-tableCheckbox [value]="item"></p-tableCheckbox>
						</td>
						<td>
							{{item.name}}
						</td>
						<td>
							{{item.code}}
						</td>
						<td>
							<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
								(click)="edit(item)" pTooltip="{{'EDIT'|translate}}"></button>
							<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
								(click)="delete(item)" pTooltip="{{'DELETE'|translate}}"></button>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
		<app-country-edit-form [isOpen]="editDialog" [model]="editItem" (saved)="onSaved($event)" (closed)="onClosed()">
		</app-country-edit-form>
		<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
	</div>
</div>