<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-table #dtRecepts [value]="items" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20]"
                [lazy]="true" (onLazyLoad)="loadItems($event)" [totalRecords]="totalRecords" [loading]="loading"
                styleClass="p-datatable-sm" (onPage)="onPageChange($event)" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">{{ 'RECEPTS' | translate }}</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onSearch($event.target.value)"
                                placeholder="{{'SEARCH' | translate}}" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ 'PATIENT_FULL_NAME' | translate }}
                        </th>
                        <th>{{ 'BIRTH_DATE' | translate }}
                        </th>
                        <th>{{ 'PHONE_NUMBER' | translate }}
                        </th>
                        <th>{{ 'RECEPT_DATE' | translate }}
                        </th>
                        <th>{{ 'ACTIONS' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            {{item.patient.lastName}}
                            {{item.patient.firstName}}
                            {{item.patient.patronymic}}
                        </td>
                        <td>
                            {{ item.patient.birthDate | localizedDate:'dd.MM.yyyy' }}
                        </td>
                        <td>
                            {{item.patient.phoneNumber}}
                        </td>
                        <td>
                            {{item.createdDate | localizedDate:'dd.MM.yyyy HH:mm'}}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-th-large"
                                class="p-button-rounded p-button-success p-mr-2" (click)="viewDetails(item)" pTooltip="Детали"></button>
                            <button pButton pRipple icon="pi pi-external-link"
                                class="p-button-rounded p-button-success p-mr-2" (click)="setTechnic(item)" pTooltip="Назначит техника"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog #receptDialog [(visible)]="viewDialog" [style]="{width: '1080px'}" header="{{ 'RECEPT' | translate }}"
            [modal]="true" styleClass="p-fluid" (onHide)="close()">
            <app-view-recept [model]="viewItem">

            </app-view-recept>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{'CLOSE'|translate}}" icon="pi pi-times" class="p-button-text"
                    (click)="close()"></button>
            </ng-template>
        </p-dialog>
        <app-set-technic [isOpen]="setTechnicDialog" [receptId]="selectedItemId" (saved)="onTechnicSet()" (closed)="onCancelTechnicSet()">
        </app-set-technic>

        <p-confirmDialog [style]="{width: '700px'}"></p-confirmDialog>
    </div>
</div>