<div class="p-grid">

    <div class="p-col-12">
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>
        <div class="card">
            <div class="p-fluid">
                <div class="p-formgrid p-grid">
                    <div class="p-filed p-col">
                    </div>
                    <div class="p-filed p-mr-1">
                        <p-button icon="pi pi-chevron-left" (click)="onPrevDate()"></p-button>
                    </div>
                    <div class="p-filed">
                        <p-calendar [(ngModel)]="selectedDate" dateFormat="dd.mm.yy" [monthNavigator]="true"
                            (onSelect)="onDateSelect($event)"></p-calendar>
                    </div>
                    <div class="p-filed p-ml-1">
                        <p-button icon="pi pi-chevron-right" (click)="onNextDate()"></p-button>
                    </div>
                    <div class="p-filed p-col">
                    </div>
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col">
                <div class="card">

<!-- ================================ START TABLE ============================ -->


                    <p-table [value]="items" styleClass="p-datatable-sm p-datatable-gridlines" [scrollable]="true"
                        scrollHeight="57vh" [style]="{'max-width':'82vw'}">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">{{ 'SCHEDULE' | translate }}</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 75px;">{{'STARTING'|translate }}</th>
                                <th style="width: 200px; min-width: 200px;" *ngFor="let doctor of doctors; let i=index">
                                    {{ doctor.name }}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                            <tr>
                                <td style="width: 75px;">c 
                                    {{ item.time }}
                                </td>
                                <ng-container *ngFor="let doctor of doctors; let ind=index">
                                    <td *ngIf="index%getEventSpan(item, doctor)===0" [attr.rowspan]="getEventSpan(item, doctor)" style="width: 200px; min-width: 200px;" >
                                        <ng-container *ngIf="findEvent(item, doctor) as event">
                                            <button *ngIf="event.isBusy && event.appointmentStatus != AppointmentStatus.CarriedOut" pButton type="button" icon="pi pi-pencil"
                                                class="p-button-text p-button-sm" label="{{ event.name }}"
                                                (click)="editAppointment(event.appointmentId)"></button>

                                            <button *ngIf="event.isBusy && event.appointmentStatus == AppointmentStatus.CarriedOut"
                                                pButton type="button" icon="pi pi-check"
                                                class="p-button-secondary p-button-text p-button-sm"
                                                label="{{ event.name }}"></button>

                                            <button *ngIf="!event.isBusy" pButton type="button" icon="pi pi-plus"
                                                label="{{ event.name }}"
                                                class="p-button-success p-button-text p-button-sm"
                                                (click)="appointPatient(doctor, event)"></button>
                                        </ng-container>
                                    </td>
                                </ng-container>
                            </tr>
                        </ng-template>
                    </p-table>

<!-- ================================ END TABLE ============================== -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-appoint-patient-on-board [isOpen]="appointDialog" [doctor]="selectedDoctor"
    [selectedAppointmentDate]="selectedAppointmentTime" (closed)="onAppointmentClosed()" (appointed)="onAppointed()">
</app-appoint-patient-on-board>

<app-edit-appointment [isOpen]="editDialog" [model]="selectedAppointment" (saved)="onEdit($event)"
    (closed)="onEditClose()" (appointmentCancelled)="onAppointmentCancelled()">
</app-edit-appointment>