<p-dialog [(visible)]="isOpen" [style]="{width: '800px'}"
    header="{{ !inventory || inventory.id === 0?('ADD'|translate):('EDIT'|translate) }}" [modal]="true"
    styleClass="p-fluid" (onHide)="close()">
    <ng-template pTemplate="content">
        <form [formGroup]="editForm">
            <div class="p-field">
                <label for="name">{{ 'NAME' | translate }}</label>
                <input type="text" pInputText id="name" formControlName="name" required autofocus />
                <small class="p-error block"
                    *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                    {{'NAME_IS_REQUIRED'|translate}}
                </small>
            </div>
            <div class="p-field">
                <label for="stock">{{ 'STOCK' | translate }}</label>
                <input type="text" pInputText id="stock" formControlName="stock" />
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col-6">
                    <label for="birthDate">{{ 'MEASUREMENT_UNIT_TYPE' | translate }}</label>
                    <p-dropdown [options]="measurementUnitTypes" inputId="measurementUnitTypeId"
                        formControlName="measurementUnitTypeId" optionLabel="name" optionValue="id"
                        placeholder="{{ 'MEASUREMENT_UNIT_TYPE' | translate }}"
                        (onChange)="onMeasurementUnitTypeChange($event)" required>
                    </p-dropdown>
                    <small class="p-error block"
                        *ngIf="editForm.get('measurementUnitTypeId').invalid && (editForm.get('measurementUnitTypeId').dirty || editForm.get('measurementUnitTypeId').touched)">
                        {{'MEASUREMENT_UNIT_TYPE_IS_REQUIRED'|translate}}
                    </small>
                </div>
                <div class="p-field p-col-6">
                    <label for="birthDate">{{ 'MEASUREMENT_UNIT' | translate }}</label>
                    <p-dropdown [options]="measurementUnits" inputId="measurementUnitId"
                        formControlName="measurementUnitId" optionLabel="name" optionValue="id"
                        placeholder="{{ 'MEASUREMENT_UNIT' | translate }}" required>
                    </p-dropdown>
                    <small class="p-error block"
                        *ngIf="editForm.get('measurementUnitId').invalid && (editForm.get('measurementUnitId').dirty || editForm.get('measurementUnitId').touched)">
                        {{'MEASUREMENT_UNIT_IS_REQUIRED'|translate}}
                    </small>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'CANCEL'|translate}}" icon="pi pi-times" class="p-button-text"
            (click)="close()"></button>
        <button pButton pRipple label="{{'SAVE'|translate}}" icon="pi pi-check" class="p-button-text"
            (click)="save()" [disabled]="!editForm.valid"></button>
    </ng-template>
</p-dialog>